*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

.ex1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.title{
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
}
.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    animation-name: giroCubo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.side{
    position: absolute;
    width: 180px;
    height: 180px;
    backface-visibility: hidden;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 30px;
    /* box-shadow: 0px 0px 0px 10px #000; */
}
.front {
    transform: translateZ(100px);
}

.top {
    transform: rotateX(-180deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(90deg) translateZ(100px);
}

.back {
    transform: rotateY(-90deg) translateZ(100px);
}



@keyframes giroCubo {
    0%{
        transform: rotateX(-20deg) rotateY(0deg);
       
    }
    /* 25%{
        transform: rotateX(90deg);
      
    }
    50%{
        transform: rotateX(135deg); 
        transform: rotateY(135deg);
    }

    75%{
       
        transform: rotateY(180deg);
    } */


    100%{
      
        transform: rotateX(-20deg) rotateY(360deg);
    }
}